*{
    box-sizing: border-box;

}

html, body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;

}

.container {
    width: 100%;
    padding: 1rem;
}